<launch>
  <!-- start nodelet manager and driver nodelets -->
  <include file="$(find velodyne_driver)/launch/nodelet_manager.launch" />

  <!-- Input bag path -->
  <arg name="input_folder_path" default="/media/mmalmeid/Disk2/lego_loam_bags/kaarta_bags/cloud_upload_2022-04-18-12-20-59_216_S01_I01"/>
  <arg name="input_bagfile" default="sensors_2022-04-18-12-20-59" />

  <!-- Transform from base link to velodyne -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_tf_broadcaster" args="0 0 0 0 0 0 base_link velodyne" />

  <!-- Load Rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find velodyne_pointcloud)/cfg/rviz.rviz -f velodyne" />

  <!-- Play rosbag with packets -->
  <node pkg="rosbag" type="play" name="play" args="-d 2.0 $(arg input_folder_path)/$(arg input_bagfile).bag" />

  <!-- Record rosbag -->
  <node pkg="rosbag" type="record" name="record" args="-a -O $(arg input_folder_path)/$(arg input_bagfile)_pcl.bag" />

  <!-- start transform nodelet -->
  <include file="$(find velodyne_pointcloud)/launch/transform_nodelet.launch">
    <arg name="calibration"
         value="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
  </include>
</launch>